body {
    background-color:#FFFFFF;
}
h1 {
    
    text-align:center;
    background-color:#ffdd1a;
    border-style: hidden;
    border-width: 5px; 
    border-Color: SlateGray;
    line-height: 0.7;
    width: 1400px;
    padding-top: 10px; 
    padding-bottom: 10px;
    }
.mainheading
 { 
    color:#FF3300;
    font-family:Impact;
    font-size:150%;
}

.tagheading
{
    color:Black;
    font-family:Times;
    font-size:50%;
}


p {
    color: #BA2100;
    text-indent: 30px;
    border-style: hidden;
    border-width: 1px;
    border-Color: DeepSkyBlue;
    font-family:Trebuchet MS;
    width: 1400px;
}

p1 {
    color: Black;
    outline-style: solid;
    border-width: 2px;
    border-Color: Black;*/
    font-family:Arial Black;
    font-size:75%;
    overflow: auto;
    padding-top: 5px; 
    padding-bottom: 5px;*/
    width: 30px;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
   
}

.boxed {
  border: 2px solid black;
  color: Black;
  font-family:Arial Black;
  font-size:75%;
  background-color: #e6e6e6
}

.illustration img {
  width: 100%;
  display: block;
}
